{% extends "test/base.html" %} {% block content %}

<div style="">
    <h4 style="margin:0;">UMEME - HRMS</h4>
    <hr/>
    <div class="rows">

        <form>
            <div class="col-md-4" style="border-right: 1px solid #ddd; padding-right:50px;">
                <h5 class="theme-color">Solution</h5>
                <div class="col-md-12" style="padding: 0;">
                    <label>A Human Resuorces Management System. This is intended to improve the work of the HR Team</label>
                    <!--select class="form-control">
                  <option class="1">1</option>
                  <option class="2">2</option>
                  <option class="3">3</option>
                </select-->
                </div>
                <br></br>
                <br></br>
                <h5 class="theme-color">Vendor</h5>
                <div class="col-md-12" style="padding: 0;">
                    <label>hSenid</label>
                </div>
                <br></br>
                <h5 class="theme-color">Engineer</h5>
                <div class="col-md-12" style="padding: 0;">
                    <label>Wamboza Allan</label>
                </div>
                <br></br>
                <h5 class="theme-color">Start date</h5>
                <div class="col-md-12" style="padding: 0;">
                    <label>12th November, 2017</label>
                </div>
            </div>
            <div class="col-md-6" style="padding-left:50px; ">
                <select class="form-control">
                    <option class="1">Phase 1</option>
                    <option class="2">Phase 2</option>
                </select>
                <!--h5 class="theme-color">Phase 1</h5-->
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">

                        <style>
                            .demo-card-event.mdl-card {
                                width: 100%;
                                height: auto;
                                background: #3E4EB8;
                            }

                            .demo-card-event>.mdl-card__actions {
                                border-color: rgba(255, 255, 255, 0.2);
                            }

                            .demo-card-event>.mdl-card__title {
                                align-items: flex-start;
                            }

                            .demo-card-event>.mdl-card__title>h4 {
                                margin-top: 0;
                            }

                            .demo-card-event>.mdl-card__actions {
                                display: flex;
                                box-sizing: border-box;
                                align-items: center;
                            }

                            .demo-card-event>.mdl-card__actions>.material-icons {
                                padding-right: 5px;
                            }

                            .demo-card-event>.mdl-card__title,
                            .demo-card-event>.mdl-card__actions,
                            .demo-card-event>.mdl-card__actions>.mdl-button {
                                color: #fff;
                            }
                        </style>

                        <div class="demo-card-event mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <center>
                                    <h1>80%</h1>
                                </center>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Done
                                </a>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">event</i>
                            </div>
                        </div>

                    </div>
                    <div class="mdl-cell mdl-cell--4-col">

                        <div class="demo-card-event mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <center>
                                    <h1>5</h1>
                                </center>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/supervisor/tasks/">
                                    Tasks
                                </a>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">event</i>
                            </div>
                        </div>

                    </div>
                    <div class="mdl-cell mdl-cell--4-col">

                        <div class="demo-card-event mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <center>
                                    <h1>12</h1>
                                </center>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/supervisor/issues/">
                                    Issues
                                </a>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">event</i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="free-10"></div>
                <div class="free-5"></div>
                <div class="center">
                </div>

        </form>
        </div>
    </div>

    {% endblock %}